                                        /*UNIVERSAL*/
.span{
  background-color: #8f0000;
  color: white;
}
.title{
  font-size: 7vw;
  font-weight: 700;
  padding: 0.8em;
  color: #8f0000;
}
.photo {
  position: relative;
  text-align: center;
  height: 25em;
  z-index: 100;
}
h2.imgText {
    position: relative;
    padding: 10vh 0 1% 0;
    color: #ffffff;
    font-size: 4em;
}
.imgText{
  color: #ffffff;
}

p.imgText{
  color: #ffffff;
}
.topImgText {
    position: relative;
    padding: 3% 0 1% 0;
    color: white;
    font-size: 4em;
}

body{
  font-size: 1.5rem;
}
h2 {
  font-size: 4em;
  padding-top: 10vh;
}
                                      /* HEADER */
#shoes {
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(180,150,250, 0.1)),
              url(http://res.cloudinary.com/redkasa/image/upload/v1494171340/shoeselect2_vr7h4z.jpg) no-repeat fixed;
  background-size: cover;
  max-height: 450px;
}


/*Navigation*/
.navigation{
  text-align: center;
  color: #8f0000;
  background-color: #F4F4F6;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #ffffff;

  transition: background .5s ease-in, transform .3s .25s ease-in-out;
}

/* CUSTOM NAVIGATION BAR COLOR SCHEME*/

.navbar-custom {
    background-color: #8f0000;
}

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgb(255,255,255);
}

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: #ffffff;
}

#navbutton{
  color: #ffffff;
}

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: white;
}

/* for dropdown only - change the color of dropdown */
.navbar-custom .dropdown-menu {
    background-color: #ff5500;
}
.navbar-custom .dropdown-item {
    color: #ffffff;
}
.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
    color: #333333;
    background-color: rgba(255,255,255,.5);
}


nav a:hover {
  background: #ffffff;
  color: #8f0000;
	transform: scale(1.2);
}

nav:hover {
  opacity: 1.0;
  transition: opacity 1.2s ease-in-out;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.header{
  margin-top: 4em;
}*/

                                    /*ICONS*/

.icons {
  padding: 3%;
  font-size: 2vw;
}
                                    /*LOCATION & DATES*/
.map {
  height: 13em;
  width: 100%;
  background-color: grey;
}
.dotw{
  font-size: 3.5vw;
  color: #8f0000;
}
                                      /*SOCIALS*/

#socials {
  background: linear-gradient(rgba(255,255,255, 0.1 ), rgba(0, 0, 0, 0.5)),
              url(http://res.cloudinary.com/redkasa/image/upload/v1494173450/socialdance_yvaaks.jpg) no-repeat fixed;
  background-size: cover;
}
.socials{
  font: white;
  font-size: 2.5vw;
}
.socialsTitle{
  font: white;
  font-size: 5vw;
  font-weight: 700;
}

                                    /* TESTIMONIALS */
.testimon{
  width: 32%;
  padding: 1em, 1em;
}

.testmimonialImg {
  width: 40%;
  border-radius: 50%;
  display: block;
}

                                    /*FOOTER*/

.social{
    color: white;
    border-radius: 50%;
    padding: 0.5em;
    opacity: 0.5;
}

#hanging {
  background: linear-gradient(rgba(255,255,255, 0.1 ), rgba(0, 0, 0, 0.5)),
              url(http://res.cloudinary.com/redkasa/image/upload/v1494084119/hangingshoes_mdaghy.jpg) no-repeat fixed;
  background-size: cover;
  max-height: 450px;
}

.social:hover{
    opacity: 0.9;
     -webkit-transition: background-color 0.5s ease-in;
     -moz-transition: background-color 0.5s ease-in;
     -o-transition: background-color 0.5s ease-in;
}
.contact{
    font-size: 3.5vw;
    font-weight: 900;
}

/* MEDIA QUERIES*/

@media (max-width: 585px) {
.topImgText {
    padding-top: 10%;
    padding-bottom: 1%
  }
.imgText {
      padding-top: 10%;
      padding-bottom: 0;
    }
#testimonials {
  font-size: 0.5em;
}
.contact{
      font-size: 5vw;
      font-weight: 900;
  }
.dotw{
  font-size: 7vw;
  color: #8f0000;
  }
.icons {
  font-size: 6vw;
  }
#socials{
  height: 20em;
}
}
