                                                /* HEADER */
/*Navigation*/
.navigation{
  text-align: center;
  background-color: #F4F4F6;
  opacity: 0.8;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 101;
}

nav a {
  display: inline-block;
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;

  transition: background .5s ease-in, transform .3s .25s ease-in-out;
}

nav a:hover {
  background: #9999A1;
	transform: scale(1.2);
}

nav:hover {
  opacity: 1.0;
  transition: opacity 1.2s ease-in-out;
}

                                    /* TESTIMONIALS */
.testimon{
  width: 32%;
  padding: 1em, 1em;
}

.testmimonialImg {
  width: 40%;
  border-radius: 50%;
  display: block;
}

/*.testimon:before {
  content: '\201C';
  font-size: 3em;
}
.testimon:after {
  content: '\201D';
  font-size: 3em;
}*/
